html {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 4px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

#tracker {
  padding: 3px;
  background-color: #93c7e6;
  border: solid #93c7e6;
  border-radius: 10px;
  margin-bottom: 5px;
}

#link {
  word-break: break-all;
}

#smurfcatimg {
  width: 30%;
}

@media only screen and (max-width: 767px) {
    #smurfcatimg {
        width:100%;
    }
}
